<section class="header">
    <div class="header__top">
        <p>update:
            <span> we are launching mvp now</span>
        </p>
    </div>
    <div class="header__container">
        <div class="header__content">
            <div class="header__logo">
                <div class="main-logo"></div>
            </div>
            <div class="header__contact">
                <p>
                    <a href="mailto:juliano@amlgam.com">contact</a>
                </p>
                <div class="line"></div>
            </div>
        </div>
    </div>
</section>